<header class="page-header">
  <h1>Admin::Dashboard#show</h1>
</header>
<div class= "alert alert-info">
  <p> Number of products in the database:  <%= @product_count %></p>
  <p> Number of categories in the database:  <%= @category_count %></p>
</div>
